.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: rgb(247, 223, 223);
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.container h2 {
    text-align: center;
}
.container p {
    line-height: 1.3;
    text-align: center;
}